[buildout] 
extensions = buildout.dumppickedversions
dump-picked-versions-file = versions-picked.cfg
parts =
    psycopg2
    mx-base
    zope2
    productdistros
    instance
    zopepy
    PILwoTK
    zpsycopg

#    plonesite

extends = http://dist.plone.org/release/3.3.5/versions.cfg
          http://svn.affinitic.be/buildouts/base/plone3.cfg
          versions.cfg
versions = versions

index = http://pypi.affinitic.be
allow-hosts = pypi.affinitic.be
              eggs.affinitic.be
              packages.affinitic.be
              getpaid.googlecode.com
              download.zope.org
              svn.kmrc.de

find-links =
    http://download.zope.org/distribution/
    http://effbot.org/downloads
    http://svn.kmrc.de/download/distribution/
    http://dist.plone.org/

eggs +=
    z3c.jbot
    PILwoTK
    Products.PloneHotfix20110720
    Products.PloneHotfix20110531
    Products.Zope-Hotfix-20110622
    cispclub.skin

develop =
    src/cispclub.skin

[PILwoTK]
recipe = zc.recipe.egg
find-links =
    http://effbot.org/downloads
    http://pypi.python.org/pypi/SQLAlchemy
    http://svn.kmrc.de/download/distribution/
    http://dist.plone.org/http://download.zope.org/distribution/
    http://download.zope.org/distribution/

[mx-base]
recipe = collective.recipe.mxbase

[psycopg2]
recipe = zc.recipe.egg:custom
egg = psycopg2
find-links = http://eggs.affinitic.be/psycopg2-2.0.6.tar.gz
define = PSYCOPG_EXTENSIONS,PSYCOPG_DISPLAY_SIZE,PSYCOPG_NEW_BOOLEAN,HAVE_PQFREEMEM,HAVE_PQPROTOCOL3
include-dirs = /usr/include
library-dirs = /usr/lib
rpath = /usr/lib  

[zpsycopg]
recipe = infrae.subversion
urls =
    http://svn.affinitic.be/zope/ZPsycopgDA ZPsycopgDA  

[zope2]
recipe = plone.recipe.zope2install
fake-zope-eggs = true
additional-fake-eggs = 
    ZODB3
url = http://www.zope.org/Products/Zope/2.10.11/Zope-2.10.11-final.tgz


[productdistros]
recipe = plone.recipe.distros
urls =
nested-packages =
version-suffix-packages =

[instance]
recipe = plone.recipe.zope2instance
zope2-location = ${zope2:location}
user = admin:xxxxxxxx
http-address = 5780
#debug-mode = on
#verbose-security = on

eggs =
    ${buildout:eggs}
    ipdb
    plone.reload
    PILwoTK 
    psycopg2
    z3c.jbot
    Plone  

zcml =
    cispclub.skin

[plonesite]
recipe = collective.recipe.plonesite
site-id = plone
instance = instance
products-initial = 
profiles-initial = 
site-replace = false

[scripts]
recipe = zc.recipe.egg:scripts
eggs = ZSI
       ipdb
extra-paths = ${zope2:location}/lib/python

products =
    ${buildout:directory}/products
    ${productdistros:location}
    ${buildout:directory}/parts/zpsycopg

[zopepy]
recipe = zc.recipe.egg
eggs = ${instance:eggs}
interpreter = zopepy
extra-paths = ${zope2:location}/lib/python
scripts = zopepy
